<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-certifast.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certifast | Make Certifacate Faster, No Manual Approach Anymore</title>
    <meta
      name="description"
      content="Create hundreds of certificate with ease in matter of seconds, no manual approach, no complex or paid software, everything is easy and free using Certifast"
    />
    <meta name="author" content="azharalifauzi" />
    <meta
      name="keywords"
      content="Certificates, Automation, Certificate Automation, Certificate Generator"
    />
    <meta image="https://certifast.co/og-image-certifast.png" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://certifast.co/og-image-certifast.png" />
    <meta
      property="og:title"
      content="Certifast | Make Certifacate Faster, No Manual Approach Anymore"
    />
    <meta
      property="og:description"
      content="Create hundreds of certificate with ease in matter of seconds, no manual approach, no complex or paid software, everything is easy and free using Certifast"
    />
    <meta property="og:url" content="https://certifast.co" />
    <meta property="og:site_name" content="Certifast" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gtag_id %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '<%= gtag_id %>');
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
